<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Consulta de Serviços Prestados</h1>
    </div>

    <br />

    <form #formConsulta="ngForm" (ngSubmit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome do Cliente</label>
                <input type="text" class="form-control" [(ngModel)]="nome" name="nome" id="inputNome">
            </div>

            <div class="col-md-6">
                <label for="inputMes">Mês</label>
                <select [(ngModel)]="mes" class="form-control" name="mes">
                    <option value="">Selecione...</option>
                    <option *ngFor="let mes of meses" [value]="mes">
                        {{ mes }}
                    </option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success" style="margin-right: 5px;">
                    <i class="fas fa-search"></i> Consultar
                </button>

                <button type="button" class="btn btn-primary" (click)="novoCadastro()" style="margin-right: 5px;">
                    <i class="fas fa-plus" style="margin-right: 10px;"></i>Novo
                </button>
            </div>
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert" *ngIf="mensagem">
                {{ mensagem }}
            </div>
        </div>

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Cliente</th>
                            <th>Valor</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servico of servicosPrestados">
                            <td>{{ servico.descricao }}</td>
                            <td>{{ servico.cliente?.nome }}</td>
                            <td>{{ servico.valor }}</td>
                            <td>{{ servico.data }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>