<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ cliente.id ? 'Edição de Cliente' : 'Novo Cliente' }}</h1>
    </div>

    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso">
                    {{ mensagemSucesso }}
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="cliente.id">
            <div class="col-lg-2">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" [ngModel]="cliente.id" name="id" disabled="true" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Data Cadastro</label>
                    <input type="text" class="form-control" [ngModel]="cliente.dataCadastro" name="dataCadastro"
                        disabled="true" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nome*</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>CPF*</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fas fa-save" style="margin-right: 5px;"></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fas fa-refresh" style="margin-right: 5px;"></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-2" (click)="voltarParaListagem()">
                    <i class="fas fa-rotate-right" style="margin-right: 5px;"></i> Voltar
                </button>
            </div>
        </div>
    </form>


</div>