<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Clientes</h1>
    </div>

    <form>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label>ID: </label>
                    <input type="text" class="form-control" disabled="true" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label>Data Cadastro: </label>
                    <input type="text" class="form-control" disabled="true" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nome*: </label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>CPF*: </label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save" style="margin-right: 5px;"></i> Salvar
                </button>
            </div>
        </div>
    </form>


</div>