<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Consulta de Clientes</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="novoCadastro()">
                <i class="fas fa-plus" style="margin-right: 10px;"></i>Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center" style="width: 40%">Nome</th>
                            <th class="text-center">CPF</th>
                            <th class="text-center">Data Cadastro</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td class="text-center">{{ cliente.id }}</td>
                            <td>{{ cliente.nome }}</td>
                            <td class="text-center">{{ cliente.cpf }}</td>
                            <td class="text-center">{{ cliente.dataCadastro }}</td>
                            <td class="text-center">
                                <button class="btn btn-primary" routerLink="/clientes/form/{{ cliente.id }}">
                                    <i class="fas fa-pencil"></i>
                                </button>

                                <span style="margin: 5px;"></span>

                                <button class="btn btn-danger" data-toggle="modal" data-target="#modalExclusao"
                                    (click)="prepararExclusao(cliente)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div id="modalExclusao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a exclusão do(a) cliente {{ clienteSelecionado.nome }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="excluirCliente()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>