<div class="container-fluid">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">
                                <i class="fas fa-face-smile mr-3" style="font-size: 2.5rem;"></i>Registre-se
                            </h3>
                        </div>

                        <div class="card-body">
                            <div class="alert alert-success" *ngIf="mensagemSucesso">
                                {{ mensagemSucesso }} <a class="alert-link small" routerLink="/login">Clique aqui para
                                    entrar</a>
                            </div>
                            <div class="alert alert-danger" *ngFor="let error of errors">
                                {{ error }}
                            </div>

                            <form #registrarForm="ngForm" (ngSubmit)="onSubmit()" class="user">
                                <div class="form-group">
                                    <input type="text" name="nome" [(ngModel)]="usuario.nome" [disabled]="usuarioCriado"
                                        class="form-control form-control-user py-4" placeholder="Digite seu nome" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" [(ngModel)]="usuario.email"
                                        [disabled]="usuarioCriado" class="form-control form-control-user py-4"
                                        placeholder="Digite seu email" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="usuario" [(ngModel)]="usuario.usuario"
                                        [disabled]="usuarioCriado" class="form-control form-control-user py-4"
                                        placeholder="Digite um nome de usuário" autocomplete="off" />
                                </div>

                                <div class="form-group">
                                    <input type="password" name="senha" [(ngModel)]="usuario.senha"
                                        *ngIf="!usuarioCriado" class="form-control py-4 form-control-user"
                                        placeholder="Digite uma senha" />
                                </div>

                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button type="submit" class="btn btn-primary btn-user btn-block" style="width: 100%"
                                        [disabled]="usuarioCriado" *ngIf="!usuarioCriado">
                                        Registrar
                                    </button>
                                </div>
                            </form>

                            <hr>

                            <div class="text-center mt-2">
                                Já possui uma conta? <a class="small" routerLink="/login">Faça login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>